@import "../../tokens.scss";

.panel {
  background-color: $brand-color-2;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  justify-content: space-evenly;
}

@media #{$medium-screen} {
  .panel {
    height: 130px;
  }
  .panel .avatar {
    display: flex;
  }
}

@media #{$large-screen} {
  .panel {
    width: 20%;
    height: 100%;
    flex-direction: column;
  }
  .panel .avatar {
    display: flex;
    img {
      max-width: 150px;
    }
  }
}

.panelTitle {
  font-family: $brand-font-title;
  font-weight: 600;
}
