@import "../../tokens.scss";

.panel {
  background-color: $brand-color_blue-medium;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  min-height: 9rem;
  justify-content: space-evenly;
}

.panelTitle {
  font-family: $brand-font-title;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.panel-footer {
  display: none;
}

@media #{$medium-screen} {
  .panel .avatar {
    display: grid;
    img {
      max-width: 7rem;
    }
  }

  .panelTitle {
    font-size: 2rem;
  }
}

@media #{$large-screen} {
  .panel {
    grid-auto-flow: row;
  }
  .panel .avatar {
    display: grid;
    img {
      max-width: 9rem;
    }
  }

  .panelTitle {
    font-size: 3rem;
  }

  .panel-footer {
    display: block;
    width: 100%;
  }
}
