@import "../../tokens.scss";

.nav-link {
  padding: 0.25rem;
}

.nav-link:before,
.nav-link:last-child:after {
  content: "";
  display: block;
  width: 8rem;
  padding-bottom: 0.5rem;
}

.nav-link:before {
  border-top: 2px solid $brand-color_black;
}

.nav-link:last-child:after {
  border-bottom: 2px solid $brand-color_black;
}

.nav-link:hover {
  --nav-item-active-indicator-space: 0.3rem;

  a::before,
  a::after {
    display: inline-block;
    content: "•";
  }

  a::before {
    margin-right: var(--nav-item-active-indicator-space);
  }

  a::after {
    margin-left: var(--nav-item-active-indicator-space);
  }
}
