@import "../../tokens.scss";

.navLink:before {
  content: "";
  display: block;
  border-top: 2px solid $brand-color-4;
  width: 110px;
  padding-bottom: 5px;
}

.navLink:last-child:after {
  content: "";
  display: block;
  border-bottom: 2px solid $brand-color-4;
  width: 110px;
  padding-top: 5px;
}

.navLink:hover {
  a::before {
    display: inline-block;
    content: "•";
    margin-right: 2px;
  }
  a::after {
    display: inline-block;
    content: "•";
    margin-left: 2px;
  }
}
