@import "../../tokens.scss";

.interests {
  display: grid;
  grid-auto-rows: min-content;
  justify-items: center;
}

@media #{$large-screen} {
  .interests {
    justify-content: space-evenly;
  }
}
