@import "../../tokens.scss";

.interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

@media #{$large-screen} {
  .interests {
    justify-content: space-evenly;
  }
}
