.resume-container {
  background-color: white;
  padding: var(--spacing-4);
  border-radius: var(--border-radius-lg);
}

.resume-section:not(:last-of-type) {
  margin-bottom: var(--spacing-4);
}

.resume-section-title {
  margin-bottom: var(--spacing-4);
}
