@import "../../tokens.scss";

.card {
  background-color: $brand-color_blue-light;
  border-radius: 0.5rem;
  border: solid black;
  box-shadow: 8px 8px 5px grey;
  max-width: 80%;
  width: 70%;
  line-height: 1.5rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.card-title {
  padding-left: 1rem;
}

.card-item-link {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
