@import "../../tokens.scss";

.card {
  background-color: $brand-color_blue-light;
  outline: .2rem dashed black;
  max-width: 80%;
  width: 70%;

  a:hover {
    color: $brand-color_pink_dark;
  }
}

.card-title {
  padding-left: 1rem;
}
