:root {
  --color-blue-light: #cbdbda;
  --color-blue-medium: #b1c9c8;
  --color-blue-dark: #97b7b6;
  --color-pink-light: #ffc1d1;
  --color-pink-dark: #b45580;
  --color-purple-light: #c0c0f2;
  --color-purple-dark: #484881;
  --color-black: #000102;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  --font-primary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-emphasis: Georgia, "Times New Roman", Times, serif;

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  line-height: var(--spacing-6);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  margin: 0;
}
