.home-container {
  box-sizing: border-box;
  font-size: var(--reader-font-size);
  line-height: var(--reader-line-height);
  padding: 0 var(--reader-margin);
  max-width: 680px;
  padding-bottom: 88px;
}
