@import "../../tokens.scss";

.home {
  display: flex;
  justify-content: center;
}

.home-blurb {
  font-size: 2rem;
  text-align: left;
}

.home-blurb-emphasis {
  font-family: $brand-font-title;
  font-weight: bold;
  color: $brand-color_pink-dark;
}

@media #{$medium-screen} {
  .home-blurb {
    padding: 0 4rem;
  }
}

@media #{$large-screen} {
  .home-blurb {
    padding-top: 4rem;
    font-size: 3rem;
    line-height: 4rem;
    max-width: 40rem;
  }
}
