@import "../../tokens.scss";

.home {
  display: flex;
  align-items: space-around;
}

.home-blurb {
  font-size: 2rem;
  text-align: left;
}

.home-blurb-emphasis {
  font-family: $brand-font-title;
  font-weight: bold;
  color: $brand-color_pink-dark;
}

@media #{$medium-screen} {
  .home-blurb {
    font-size: 4rem;
  }
}

@media #{$large-screen} {
  .home-blurb {
    padding-left: 2rem;
    padding-top: 4rem;
    font-size: 4rem;
  }
}
