.header {
  position: sticky;
  top: 0;
  border-bottom: var(--border-width-lg) solid var(--color-foreground);
  background-color: var(--color-background);
  min-height: 64px;
  display: flex;
  align-items: center;
  padding: var(--spacing-2);
  z-index: 1;
  justify-content: space-between;
}

.header-title {
  margin: 0;
  font-family: var(--font-emphasis);
}
