@import '../../tokens.scss';

.timeline {
    position: relative;
    padding-left: 60px;
    padding-top: 20px;
    width: 80%;
    overflow: scroll;
}

.timelineList {
    text-align: left;
    width: 100%;
}

@media #{$large-screen} {
    .timelineList {
        width: 70%;
    }
}