@import "../../tokens.scss";

.career-item {
}

.career-item-title {
  display: flex;
  font-size: 30px;
  align-items: center;
  & img {
    margin-right: 20px;
  }
}

.career-item-description {
  font-size: 22px;
}
