@import "../../tokens.scss";

.timelineEvent {
  position: relative;
  padding-left: 40px;
  margin: 10px 0px 10px 0px;
}

.timelineEvent p {
  line-height: 1.5em;
}

.timelineMarker {
  position: absolute;
  left: 30px;
  top: 10px;
  left: 10px;
  height: 100%;
}

.timelineMarker::before {
  content: "";
  border-radius: 100%;
  border: 5px solid transparent;
  background: $brand-color_blue-dark;
  position: absolute;
  display: block;
}

.timelineMarker::after {
  content: "";
  width: 2.5px;
  background: $brand-color_black;
  position: absolute;
  display: block;
  height: 100%;
  top: 15px;
  left: 3px;
}
