@import "../../tokens.scss";

.timelineEvent {
  position: relative;
  padding-left: 2.5rem;
  margin: 1rem 0 1rem 0;
}

.timelineEvent p {
  line-height: 1.5em;
}

.timelineMarker {
  position: absolute;
  top: .6rem;
  left: .6rem;
  height: 100%;
}

.timelineMarker::before {
  content: "";
  border-radius: 100%;
  border: 5px solid transparent;
  background: $brand-color_pink-dark;
  position: absolute;
  display: block;
}

.timelineMarker::after {
  content: "";
  width: .2rem;
  background: $brand-color_black;
  position: absolute;
  display: block;
  height: 100%;
  top: 1rem;
  left: .2rem;
}
