@import "tokens.scss";

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
}

@media #{$large-screen} {
  .App {
    flex-direction: row;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.padding-small {
  padding: 0.25rem;
}

.page-content {
  width: 80%;
  overflow: scroll;
  padding-left: 20px;
}

@media #{$medium-screen} {
  .page-content {
    padding-left: 40px;
  }
}

@media #{$large-screen} {
  .page-content {
    padding-left: 60px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
