@import "tokens.scss";

.App {
  height: 100%;
  display: grid;
  font-family: $brand-font;
}

.page-content {
  padding: 2rem 2rem;
}

@media #{$large-screen} {
  .App {
    grid-template-columns: 25% 75%;
  }

  .page-content {
    max-width: 50%;
    padding: 3rem 5rem;
  }
}

@media #{$medium-screen} {
  .page-content {
    max-width: 75%;
    padding: 3rem 3rem;
  }
}
