$brand-color-1: #FBE4C4;
$brand-color-2: #FBE4C4;
$brand-color-3: #F39C8C;
$brand-color-4: #F18875;
$brand-color-5: #07477b;
$brand-color-6: #042B4B;
$brand-color-7: #000102;

$brand-font-link: 'Rubik';
$brand-font-title: 'Josefin Slab';

$small-screen: 'only screen and (max-width: 480px)';
$medium-screen: 'only screen and (min-width: 481px) and (max-width: 960px)';
$large-screen: 'only screen and (min-width: 961px)';