$brand-color_blue-light: #CBDBDA;
$brand-color_blue-medium: #B1C9C8;
$brand-color_blue-dark: #97B7B6;
$brand-color_pink-dark: #B45580;
$brand-color_black: #000102;

$brand-font: "Rubik";
$brand-font-title: "Josefin Slab";

$small-screen: "only screen and (max-width: 480px)";
$medium-screen: "only screen and (min-width: 481px) and (max-width: 960px)";
$large-screen: "only screen and (min-width: 961px)";
