$brand-color-1: #fbe4c4;
$brand-color-2: #fbe4c4;
$brand-color-3: #f39c8c;
$brand-color-4: #f3644f;
$brand-color-5: #07477b;
$brand-color-6: #042b4b;
$brand-color-7: #000102;

$brand-font: "Rubik";
$brand-font-title: "Josefin Slab";

$small-screen: "only screen and (max-width: 480px)";
$medium-screen: "only screen and (min-width: 481px) and (max-width: 960px)";
$large-screen: "only screen and (min-width: 961px)";
